html {
  position: relative;
  min-height: 100%;
}

/* .navbar{
  background-color: antiquewhite !important;
} */

.collapsibleNavbar{
  color: black!important;
}

body {
  background-color: antiquewhite;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.flash{
  color: red;
}


.offset-md-3 {
  margin-left: 25%;
  margin: auto;
}

nav{
  font-size: 20px;
  color: white;
}

