<% include ../partials/header.ejs %>

<form action="/checkout/check" method="post" validate>
  <link rel="stylesheet" href="/stylesheets/checkout.css" />
  <div class="abc">
    <div class="checkout-panel">
      <div class="panel-body">
        <h2 class="title">Checkout</h2>

        <div class="payment-method">
          <label for="card" class="method card">
            <div class="card-logos">
              <img src="/images/visa.jpeg" width="70px" />
              &nbsp;&nbsp;
              <img src="/images/Master.jpeg" width="70px" />
            </div>

            <div class="radio-input">
              <input id="card" type="radio" name="payment" />
              Pay amount with credit card
            </div>
          </label>

          <label for="paypal" class="method paypal">
            <img src="/images/paypal.jpeg" width="70px" />
            <div class="radio-input">
              <input id="paypal" type="radio" name="payment" />
              Pay amount with PayPal
            </div>
          </label>
        </div>

        <div class="input-fields">
          <div class="column-1">
            <label for="cardholder">Cardholder's Name</label>
            <input type="text" id="cardholder" />

            <div class="small-inputs">
              <div>
                <label for="date">Valid thru</label>
                <input type="text" id="date" placeholder="MM / YY" />
              </div>

              <div>
                <label for="verification">CVV / CVC *</label>
                <input type="text" id="verification" />
              </div>
            </div>
          </div>
          <div class="column-2">
            <label for="cardnumber">Card Number</label>
            <input type="text" id="cardnumber" />

            <span class="info"
              >* CVV or CVC is the card security code, unique three digits
              number on the back of your card separate from its number.</span
            >

            <br />
            <br />

            <button class="">
              <a href="/products/feedback">Pay Now</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
