<%- include ../partials/header.ejs %>

<div class="card">
  <div class="card-header">
    <h2>Shopping Cart</h2>
    <p class="card-text"><%= id %></p>
    <p class="card-text"><%= name %></p>

  </div>
</div>


